/**
Author: helixplant
Date: 
Last Modified: Nov. 1 2024

**/

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Thin.ttf) format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-ExtraBold.ttf) format('truetype');
    font-weight: bold;
}


* {
    font-family: 'Montserrat';
    padding: 0px;
    color: #0a1d1b;
    
    overscroll-behavior: none;
    -webkit-transition: color 225ms ease-in-out;
    -moz-transition: color 225ms ease-in-out;
    -o-transition: color 225ms ease-in-out;
    -ms-transition: color 225ms ease-in-out;
    transition: color 225ms ease-in-out;
   scroll-behavior: smooth;
}

h1{
    font-size: 5vw;
    color: #f15551;
    margin: 5%;
}



#welcome h1{
    color: #0a1d1b;
}


/* PARALLAX SCROLL EFFECT */
.banner{
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #0a1d1b;
}

.banner .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center bottom;
    transition: 0.4s;
    background-repeat: no-repeat;
}

.banner .bg-00{
    background-image: url(imgs/background.png);
    background-color: #0a1d1b;
}

.banner .bg-0{
    background-image: url(imgs/orb.png);
}

.banner .bg-1{
    background-image: url(imgs/layer3.png);
}

.banner .bg-2{
    background-image: url(imgs/layer2.png);
}

.banner .bg-3{
    background-image: url(imgs/cloud.png);
}

.banner .bg-4{
    background-image: url(imgs/layer1.png);
}

.banner .bg-5{
    background-image: url(imgs/sides.png);
}

.banner .bg-6{
    background-image: url(imgs/layer0.png);
    background-position: center calc(50% + 625px);
}

.banner h1{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 8vw;
}


/* NAV BAR */
#nav-cont{
    position: sticky;
    top:0;
    margin-top: -6em;
    z-index: 424242;
}

.nav-bar{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px 5%;
    background-color: none;
}

.nav-links{
    list-style: none;
    background-color: #0a1d1b99;
    padding: 0.2em 1em;
    border-radius: 45px;
    border: 2px solid;
    border-color: #0a1d1b00;
    white-space: nowrap;
}

.nav-links li{
    display: inline-block;
    padding: 0px 0.3em;  
    font-size: calc(0.5vw + 0.4rem); 
    margin: 1em;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #f9fcf4;
    border-radius: 15px;
    border: 2px solid;
    border-color: #0a1d1b00;

    padding: 5px;
    width: 2em;
    height: 1em;
    
}

.nav-links li a:hover{
    border-color: #f9fcf4;
}




/* BUFFER SECTION */

.buffer{
    position:relative;
    width: 100%;
    height: 100px;
    background-color: white;
}

.buffer .bg{
    position: absolute;
    width: 100%;
    height: 12em;
    background-color: #0a1d1b;
}



/* SECTIONS */


/* ABOUT ME */

.about-me{
    margin:0%;
    position:relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap-reverse;
    background-color: #f9fcf4;
}

.about-me .about-text{
    flex: 5 1 0;
    padding: 5em 0px 0px 20px;

}

.about-me .about-text h1{
    font-size: 6em;
    margin: 0.2em;
}
.about-me .about-text p{
    color: #f15551;
    font-weight: normal;
    font-size: 0.8em;
    padding: 0px;
    margin: 0px;
}

.about-me .about-text .icon-bar{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.about-me .about-text .icon-bar img{
    padding: 1.3em 1em 0.8em;
    width: 4.2em;
    object-fit: contain;
    transition: all 0.3s ease 0s;
}
.about-me .about-text .icon-bar img:hover{
    width: 4.9em;

}

.about-me .about-text .pink-box{
    display: inline-block;
    background-color: #f15551;
    color: #f9fcf4;
    padding: 1.2em 2em;
    margin: 0px;
    font-size: 1.2em;
    font-weight: lighter;
}

.about-me .about-text .email{
    display: inline-block;
    color: #f15551;
    font-weight: normal;
    font-size: (1vw + 1em);
    border-color: #f15551;
    border-radius: 10px;
    border: 3px solid;
    padding: 0.5em 2.5em;
    margin: 28px;
    transition: all 0.5s ease 0s;

}

.about-me .about-text .email:hover{
    background-color: #f15551;
    border-color: #f15551;
    color: #f9fcf4;
}

.about-me .about-photo{
    flex: 4 1 0;
    justify-content: center;
    align-items: center;
}

.about-me .about-photo img{
    max-width: 35em;
    min-width: 20em;
}


/*EXPERIENCE*/

#experience{
    

}

.hidden {
    display: none;
}

.content {
    padding: 1rem;
}


.exp-cont {
    
    display: flex;
    height: calc(1vw + 35em);
    padding: 5%;
    align-items: center;
    justify-content: center;
}

.exp-cont img{
    width: 100%;

}

.exp-cont h2{
    color: #f15551;
    font-size: calc(2vw + 0.6em);
    display: inline;
}

.exp-cont h3{
    display:inline-block;
    font-size: calc(0.7vw + 0.8em);
    font-weight: lighter;

}

.exp-cont h4{
    display: inline;
    font-weight: lighter;
    float: right;

}

.exp-cont h5{
    font-size: calc(1.5vw + 0.20em);
    padding: 0%;
    margin: 0%;
    color: #0a1d1b;
}

.exp-cont h6{
    font-size: calc(0.5vw + 0.5em);
    font-weight: lighter;
    padding: 0%;
    margin: 0%;
    color: #0a1d1b;
}

.exp-cont .right-section p{
    color: #0a1d1b;
    font-size: calc(0.5vw + 0.5em);
}

.exp-cont .active h5,
.exp-cont .active h6,
.exp-cont .left-section button:hover h5,
.exp-cont .left-section button:hover h6{
    color: #f9fcf4;
}

.exp-cont .active h6{
    color: #f9fcf4;
}


.exp-cont .left-section {
    width: 45%;
    padding: 1rem;
}

.exp-cont .left-section button {
    width: 80%;
    height: 6em;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: #f9fcf4;
    color: #0a1d1b;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.5s ease 0s;

}

.exp-cont .left-section button.active {
    background-color: #f15551;
}

.exp-cont .left-section button:hover {
    background-color: #f15551;
    color: #f9fcf4 !important;
}

.exp-cont .right-section {
    width: 45%;
    padding: 1rem;
}















/*PROJECTS*/
#projects{
    position: relative;
    width: 100%;
    background-color: #f9fcf4;
}


#projects .proj-item-cont{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

    /*project item*/
    
#projects .proj-item-cont .proj-item{

    position: relative;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    width: 18em;
    height: 15em;
    display: flex;
    flex-direction: column;
    padding: 2% 4%;

}

#projects .proj-item-cont .proj-item .proj-img{
    background-color: #0a1d1b;
    border-radius: 15px;
    width: 20em;
    height: 10em;    
    transition: all 0.5s ease 0s;
}
#projects .proj-item-cont .proj-item .proj-img img{
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#projects .proj-item-cont .proj-item .proj-img:hover{
    width: 21em;
    height: 10.5em;
}

#projects .proj-item-cont .proj-item .proj-name{
    background-color: #f15551;
    color: #f9fcf4;
    align-items: center;  
    text-align: center;   
    width: 16vw;
    min-height: 2vw;
    max-height: 5vw;
    margin-top: -2em;
    font-size: calc(0.4vw + 0.5em);
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#projects .proj-item-cont .proj-item .proj-skills{
    text-align: center;
    color:#f15551;
    width: 25em
}


#projects .proj-item-cont .proj-item-addt{
    width: 25em;
    height: 10em;
}




#activities{

    background-color: purple;
}











/*MISC*/
.pink-box{
    display: inline-block;
    background-color: #f15551;
    color: #f9fcf4;
    padding: 15px 25px;
    margin: 20px;
    text-align: center;
    min-width: none;
}

#all-them{
    background-color: #f9fcf4;
}